.hal-wishlist-button {
  font-weight: 700; }
  .hal-wishlist-button:before {
    content: "\f08a";
    font: 400 15px/31px "FontAwesome";
    color: white;
    background: #929292; /* цвет сердечка */
    width: 30px;
    text-align: center;
    display: inline-block;
    height: 30px;
    margin: 0 6px 0 0;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px; }

  .hal-wishlist-button:hover {
      cursor: pointer;
  }


.in-list:before {
      background: #CC63B0; /* цвет сердечка */
}
